 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/11062b_9ddaa6338cd14259834dce09a9cb27baf000.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 516px;
}

.u-section-1 .u-group-1 {
  width: 696px;
  min-height: 530px;
  height: auto;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -14px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  margin: 122px 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 97px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 57px 0;
}

.u-section-1 .u-image-1 {
  width: 159px;
  height: 101px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -423px 57px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-group-1 {
    width: 620px;
    position: relative;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 80px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-right: 158px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-1 .u-group-1 {
    width: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 61px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -381px;
    margin-right: 91px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-group-1 {
    width: 412px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 91px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 535px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-line-1 {
    width: 48px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 57px;
  }

  .u-section-1 .u-image-1 {
    width: 113px;
    height: 72px;
    margin-top: -346px;
    margin-right: 15px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 602px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 2px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 456px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 45px 0 0 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 900;
  margin: 15px 0 0 20px;
}

.u-section-2 .u-line-1 {
  width: 77px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 30px 10px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 89px 198px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-2 .u-text-4 {
  line-height: 1.6;
  font-size: 1.25rem;
  margin: 40px 0 0 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 584px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    border-radius: 4px;
    margin-right: 98px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 744px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  min-height: 683px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 220px;
  margin: 10px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/bf37f8217e4b71feb26707d632c6845d.png");
  min-height: 537px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-bottom: 30px;
  padding-top: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 109px 20px 0;
}

.u-section-3 .u-line-1 {
  width: 79px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 25px auto 0 20px;
}

.u-section-3 .u-text-3 {
  margin: 60px 20px 0;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/457883519366bc77e9ffb4294b44f8df.png");
  min-height: 537px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 109px 20px 0;
}

.u-section-3 .u-line-2 {
  width: 79px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 25px auto 0 20px;
}

.u-section-3 .u-text-5 {
  margin: 68px 20px 0;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/35970472e6f88da51190947c84ba6f2a.png");
  min-height: 537px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 109px 20px 0;
}

.u-section-3 .u-line-3 {
  width: 79px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 25px auto 0 20px;
}

.u-section-3 .u-text-7 {
  margin: 68px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 589px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 443px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    position: relative;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 443px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    position: relative;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 443px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-line-3 {
    width: 65px;
    position: relative;
    margin-left: 16px;
  }

  .u-section-3 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 535px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 339px;
  }

  .u-section-3 .u-image-2 {
    min-height: 339px;
  }

  .u-section-3 .u-image-3 {
    min-height: 339px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-line-3 {
    width: 50px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1722px;
  }

  .u-section-3 .u-image-1 {
    min-height: 763px;
  }

  .u-section-3 .u-image-2 {
    min-height: 763px;
  }

  .u-section-3 .u-image-3 {
    min-height: 763px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-line-3 {
    width: 47px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1156px;
  }

  .u-section-3 .u-image-1 {
    min-height: 480px;
  }

  .u-section-3 .u-image-2 {
    min-height: 480px;
  }

  .u-section-3 .u-image-3 {
    min-height: 480px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-line-3 {
    width: 39px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  min-height: 719px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 221px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 4px;
}

.u-section-4 .u-image-1 {
  background-image: url("images/-34.jpg");
  background-position: 50% 50%;
  min-height: 311px;
}

.u-section-4 .u-image-2 {
  background-image: url("images/IMG-20221101-WA00300.jpg");
  background-position: 50% 50%;
  min-height: 311px;
}

.u-section-4 .u-image-3 {
  background-image: url("images/IMG-20221101-WA0037.jpg");
  background-position: 50% 50%;
  min-height: 311px;
}

.u-section-4 .u-image-4 {
  background-image: url("images/IMG-20221101-WA0013.jpg");
  background-position: 50% 50%;
  min-height: 311px;
}

.u-section-4 .u-image-5 {
  background-image: url("images/-36.jpg");
  background-position: 50% 50%;
  min-height: 311px;
}

.u-section-4 .u-image-6 {
  background-image: url("images/5.jpg");
  background-position: 50% 50%;
  min-height: 311px;
}

.u-section-4 .u-image-7 {
  min-height: 311px;
  background-image: url("images/31.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-8 {
  min-height: 311px;
  background-image: url("images/IMG-20221101-WA0008.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 609px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 287px;
  }

  .u-section-4 .u-image-2 {
    min-height: 287px;
  }

  .u-section-4 .u-image-3 {
    min-height: 287px;
  }

  .u-section-4 .u-image-4 {
    min-height: 287px;
  }

  .u-section-4 .u-image-5 {
    min-height: 287px;
  }

  .u-section-4 .u-image-6 {
    min-height: 287px;
  }

  .u-section-4 .u-image-7 {
    min-height: 287px;
  }

  .u-section-4 .u-image-8 {
    min-height: 287px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 671px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2380px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 5px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2317px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 706px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 103px 0 47px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 520px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 558px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 115px 20px 0;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 20px 20px 0;
}

.u-section-5 .u-line-1 {
  width: 73px;
  position: relative;
  transform-origin: left center 0;
  margin: 30px auto 0 20px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 0 0 40px;
}

.u-section-5 .u-image-1 {
  width: 389px;
  height: 224px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-line-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 359px;
    height: 207px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 196px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/AdobeStock_316552729_Preview.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 171px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 1px auto 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -13px auto 0 239px;
  padding: 13px;
}

.u-section-6 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: -64px 239px 0 auto;
  padding: 13px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 535px;
  margin: -32px auto 9px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 17px;
    margin-left: 240px;
  }

  .u-section-6 .u-icon-2 {
    animation-duration: 3000ms;
    margin-right: 240px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 17px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 184px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 237px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 102px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 102px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 67px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 67px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
  }
}